.env
db.sqlite3
venv
__pycache__
__pycache__/
__init__.py
**/__init__.py
base/migrations
staticfiles
persistencebot
static/*
!static/css
!static/fonts
!static/js
!static/partials
!static/scss
!static/vendors
!static/vidoes
