{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Bosh sahifa</span>
        </a>
      </li>
    
     <li class="nav-item">
        <a class="nav-link" href="{% url 'monitoring' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Monitoring</span>
        </a>
      </li>
      

      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload' %}">
          <i class="icon-menu menu-icon"></i>
          <span class="menu-title">Xizmatlarni yuklash</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'task' %}">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Topshiriqlar</span>
        </a>
      </li>

      {% if profile.status == 'admin' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'history' %}">
          <i class="icon-clock menu-icon"></i>
          <span class="menu-title">Xizmatlar tarixi</span>
        </a>
      </li>
      {% endif %}
      
      {% if profile.status == 'admin' or profile.status == 'superuser' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'telegram' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Telegram</span>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Mijozlar</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic" >
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'create-client' %}">Ro'yxatga olish</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'yatt' %}">YaTT</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'yuridik' %}">Yuridik</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'jismoniy' %}">Jismoniy</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'tanirovka' %}">Tanirovka</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'auction' %}">Avtoraqam</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'auction2' %}">Auksion</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'teacher' %}">O'qituvchi</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'governor' %}">Hokim yordamchisi</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'taxi' %}">Taxi litsenziya</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'ishonchnoma' %}">Ishonchnoma</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'aviakassa' %}">Aviakassa</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'daromad12' %}">12% daromad</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'taxer' %}">Soliqchi</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'student' %}">Talaba</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'mahalla' %}">Mahalla</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-clock menu-icon"></i>
          <span class="menu-title">Eslatmalar</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic2" >
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'notes' %}">Ro'yxat</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'calendar' %}">Kalendar</a></li>
          </ul>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'notes' %}">
          <i class="icon-clock menu-icon"></i>
          <span class="menu-title">Eslatmalar</span>
        </a>
      </li> -->
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'templates' %}">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Shablonlar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'keys' %}">
          <i class="fas fa-key menu-icon"></i>
          <span class="menu-title">Kalitlar</span>
        </a>
      </li>
      
      {% if profile.status == 'admin' or profile.status == 'superuser' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sms' %}">
          <i class="icon-cog menu-icon"></i>
          <span class="menu-title">SMS sozlamalari</span>
        </a>
      </li>
      {% endif %}

      {% if profile.status == 'admin' %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Xodimlar</span>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'operator' %}">
          <i class="fas fa-headset menu-icon"></i>
          <span class="menu-title">Operator</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'fine_list' %}">
          <i class="fas fa-exclamation-circle menu-icon"></i>
          <span class="menu-title">Jarimalar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'decree_list' %}">
          <i class="fas fa-file-alt menu-icon"></i>
          <span class="menu-title">Buyruqlar</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="icon-arrow-left menu-icon"></i>
          <span class="menu-title">Chiqish</span>
        </a>
      </li>
    </ul>

    <style>
      img {
          width: 300px; /* Adjust according to your image size */
          height: auto;
          transition: opacity 1s ease-in-out;
      }
  </style>
    {% if user.username == 'otamurodazimzoda' %}
    <img id="image" src="{% static 'profile/otamurod1.jpg' %}" alt="" style="width: 200px; padding-left: 20px;">
    <script>
      // Array of image sources
      var images = ["{% static 'profile/otamurod2.jpg' %}", "{% static 'profile/otamurod3.jpg' %}", "{% static 'profile/otamurod4.jpg' %}"];
      var currentIndex = 0;

      // Function to change the image with fade animation
      function changeImageWithAnimation() {
        var imageElement = document.getElementById("image");
        imageElement.style.opacity = 0; // Set opacity to 0 for fade out effect
        setTimeout(function() {
            imageElement.src = images[currentIndex];
            currentIndex = (currentIndex + 1) % images.length;
            imageElement.style.opacity = 1; // Set opacity back to 1 for fade in effect
        }, 1000); // Adjust timing to match CSS transition duration
    }

    // Change image with animation every 3 seconds
    setInterval(changeImageWithAnimation, 3000);
  </script>
    {% endif %}

  </nav>