{% load functions %}
<div class="modal fade upload-modal" tabindex="-1" role="dialog"   aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Xizmat yuklash</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <form action="{% url 'mini_upload' %}" method="post">
            <div class="modal-body">
               <div class="mb-3">
                  <label for="name" class="form-label">Ism</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Mijoz ismi" required autofocus>
              </div>
              <!-- Phone Field -->
              <div class="mb-3">
                  <label for="phone" class="form-label">Telefon</label>
                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mijoz telefon raqami" required>
              </div>
              <!-- Service Field -->
              <div class="mb-3">
                  <label for="service" class="form-label">Xizmat turi</label>
                  <input type="text" class="form-control" id="service" name="service" placeholder="Xizmat turini yozing" required>
              </div>
              <div class="form-group mb-3">
                  <label for="" class="">Xodim</label>
                  <select name="receiver" id="receiver" class="form-control choicesjs">
                     {% for profile in 0|list_profiles %}
                     <option value="{{ profile.id }}">{{ profile.name }}</option>
                     {% endfor %}
                  </select>
                  <!-- <input type="text" class="form-control" id="service" name="service" placeholder="Xizmat turini yozing" required> -->
              </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
               <button type="submit" class="btn btn-primary">Saqlash</button>
            </div>
         </form>
      </div>
   </div>
</div>