{% extends 'main.html' %}
{% load static %}
{% load functions %}

{% block link %}


<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

<link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/backend.css' %}">  

{% endblock %}


{% block content %}



<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">XXI ASR BUXGALTERIYA</h3>
              <h6 class="font-weight-normal mb-0">Kalitlar</span></h6>
            </div>
            <div class="col-12 col-xl-4">
             <div class="justify-content-end d-flex">
              
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                  <a href="">
                    <!-- <button class="btn btn-sm btn-light bg-primary" type="button">
                      <i class="ti ti-plus font-weight-bold text-white"></i>
                    </button> -->
                  </a>
                  <div class="form-group">
                    <label for="files">Kalitlarni yuklash</label>
                    <input class="form-contro" type="file" name="files" id="files" multiple>
                    <!-- <label class="custom-file-label" for="customFile">Choose file</label> -->
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <!-- start filter -->
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
              
              <div class="card-body">
              <div class="card-title">Filterlash</div>
              
                  <form action="" method="get">
                    <input type="hidden" name="filter">
                  <div class="row">
                    <div class="col-sm-6">

                      <div class="form-group">
                        <label for="">Holati</label>
                        <select name="status" class="form-control">
                          <option value="">Barchasi</option>
                          <option value="active" >Tugamagan</option>
                          <option value="inactive">Tugagan</option>
                          <option value="none" >Kiritilmagan</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Mijoz nomi</label>
                        <input type="text" id="filter-client" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="">Jshshr</label>
                        <input type="text" id="filter-client-jshshir" class="form-control">
                      </div>
                    </div>

                  </div>
                  <button class="btn btn-primary btn-rounded" type="button" id="filter-button">Aniqlash</button>
                  </form>
            </div>
          </div>
        </div>
       
      </div>
      <!-- start filter -->


      <div class="row">
      <!-- start tabs -->
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          {% for type in types %}
          <li class="nav-item mb-1">
             <a class="nav-link {% if type|index:0 == active_type %}active{%endif%}" 
              href="{% url 'keys_by_type' type|index:0 %}" role="tab" aria-selected="false">
              {{ type|index:1 }}
            </a>
          </li>
          
          {% endfor %}

        </ul>
        <!-- end tabs -->
        


      
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">

          <div class="card-body">
            <p class="card-title">Kalitlar</p> 
            <div class="table-responsive">
                <table class="table"  id="key-table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Mijoz</th>
                      <th>STIR</th>
                      <th>Jshshr</th>
                      <th>Qo'shdi</th>
                      <th>Muddat</th>
                      <th>Kalit</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                                        
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
      </div>


       
  
    </div>
   
  </div>

{% endblock %}


{% block script %}

<script>
    $(document).ready(function () {
        // Function to fetch keys via AJAX
        function fetchKeys(filter) {
          var url = '{% url "fetch_keys" active_type %}';
            if (filter) {
                url += '?filter=true' + filter;
            }
            $.ajax({
                url: url,  // Update with your actual URL
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    updateKeyTable(data.keys);
                }
            });
        }

        // Function to update the key table in the template
        function updateKeyTable(keys) {
            var keyTable = $('#key-table tbody');
            keyTable.empty();
            $.each(keys, function (index, key) {
                var client = 
                  key.client_id != undefined 
                    ? "<a href='/client/" + key.client_id +  "' target='_blank'>" + key.name + '</a>' 
                    : key.name
                
                var stir = 
                  key.client_stir != undefined
                    ?  key.client_stir
                    : key.inn

                var added_by =
                  key.added_by_name != undefined
                    ? key.added_by_name
                    : ''

                {% if perms.base.view_key %}
                key_url = '<a href="/app/' + key.key + '" download class="text-success"><i class="fa fa-download"></i></a>'
                {% else %}
                key_url = ''
                {% endif %}

                {% if perms.base.delete_key %}
                  delete_button = `<a href="keys/delete/`+ key.id + `" class="btn btn-danger" 
                          onclick="return confirm(&#39;Kalitni o\'chirmoqchimisiz?&#39;)">
                          <i class="fa fa-trash" style="margin-right: 0;"></i></a>`
                {% else %}
                  delete_button = ''
                {% endif %}

                keyTable.append(
                  '<tr><td>' + (index + 1) + '</td><td>' + client + '</td>' +
                  '<td>' + stir + '</td>' + '<td>' + key.jshshir + '</td>' + '<td>' + added_by + '</td>' +
                  '<td>'+ key.key_exp + '</td>' + '<td>' + key_url + '</td>' +
                  '<td>'+ delete_button + '</td>'

                    + '</tr>'
                  );
                // Add more cells as needed based on your model fields
            });
        }

        // Fetch keys on page load
        fetchKeys();

        $('#filter-button').on('click', function () {
            var client_name = $('#filter-client').val();
            filterText = '&name=' + client_name
            var client_jshshir = $('#filter-client-jshshir').val();
            filterText += '&jshshir=' + client_jshshir
            fetchKeys(filterText);
        });

        // Update the key table every 5 seconds (adjust as needed)
        // setInterval(fetchKeys, 5000);
    });
</script>
    
<!-- <script src="{% static 'assets/js/backend-bundle.min.js' %}"></script> -->
<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/customizer.js' %}"></script>

<script src="{% static 'assets/js/sidebar.js' %}"></script>

<!-- Flextree Javascript-->
<script src="{% static 'assets/js/flex-tree.min.js' %}"></script>
<script src="{% static 'assets/js/tree.js' %}"></script>

<!-- Table Treeview JavaScript -->
<script src="{% static 'assets/js/table-treeview.js' %}"></script>

<!-- SweetAlert JavaScript -->
<script src="{% static 'assets/js/sweetalert.js' %}"></script>

<!-- Vectoe Map JavaScript -->
<script src="{% static 'assets/js/vector-map-custom.js' %}"></script>

<!-- Chart Custom JavaScript -->
<!-- <script src="{% static 'assets/js/chart-custom.js' %}"></script> -->
<script src="{% static 'assets/js/charts/01.js' %}"></script>
<script src="{% static 'assets/js/charts/02.js' %}"></script>

<!-- slider JavaScript -->
<script src="{% static 'assets/js/slider.js' %}"></script>

<!-- Emoji picker -->
<script src="{% static 'assets/vendor/emoji-picker-element/index.js' %}" type="module"></script>


<!-- app JavaScript -->
<script src="{% static 'assets/js/app.js' %}"></script>

{% endblock %}