{% extends 'main.html' %}
{% load static %}


{% block link %}
<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

<link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/backend.css' %}">  
{% endblock %}


{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">XXI ASR BUXGALTERIYA</h3>
            <h6 class="font-weight-normal mb-0">Monitoring</span></h6>
          </div>
          <div class="col-12 col-xl-4">
           <div class="justify-content-end d-flex">
           
           </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            
            <div class="card-body">
            <div class="card-title">Filterlash</div>
            
                <form action="" method="get">
                  <input type="hidden" name="filter">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">Muddatni tanlang (...) dan</label>
                      <input type="date" name="from" class="form-control">
                    </div>
                    {% if profile.status == 'admin' or profile.status == 'superuser' %}
                    <div class="form-group">
                      <label for="">Ofislar</label>
                      <select name="office" class="form-control">
                        <option value="">Barchasi</option>
                        <option value="1">XXI ASR BUXGALTERIYA</option>
                        <option value="2">XXI ASR KOMPYUTER XIZMATLARI</option>
                        <option value="3">XXI ASR BUXGALTERIYA XIZMATLARI MARKAZI</option>
                      </select>
                    </div>
                    {% endif %}
                    <div class="form-group">
                      <label for="">Holati</label>
                      <select name="status" class="form-control">
                        <option value="">Barchasi</option>
                        <option value="5">Bajarilmagan</option>
                        <option value="0">Narxlanmagan</option>
                        <option value="10">Bajarilgan</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="">Muddatni tanlang (...) gacha</label>
                      <input type="date" name="to" class="form-control">
                    </div>
                    {% if profile.status == 'admin' or profile.status == 'superuser' %}
                    <div class="form-group">
                      <label for="">Xodimlar</label>
                      <select name="user" class="form-control">
                        <option value="">Barchasi</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endif %}
                    <div class="form-group">
                      <label for="">Xizmat turi</label>
                      <select name="service" class="form-control">
                        <option value="">Barchasi</option>
                        {% for service in services %}
                        <option value="{{ service.id }}">{{ service.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-rounded" type="submit">Aniqlash</button>
                </form>
          </div>
        </div>
      </div>
     
    </div>


    

    {% if view == 'query'%}

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          
            <div class="card-body">
            <div class="card-title"><div class="float-left">Filter natijalari</div><div class="float-right">
                <button class="btn btn-sm btn-success" id="export_button">Excel</button>
            </div></div>
                <div class="table-responsive">
                  <table class="table table-striped ytt data-table table-bordered" id="monitoring">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Mijoz</th>
                        <th>Xizmat turi</th>
                        <th>Kiritilgan sana</th>
                        <th>Izoh</th>
                        <th>Muddat</th>
                        <th>Qabul qiluvchi</th>
                        <th>Holati</th>
                        <th>Xizmat yuklash<th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in result %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{row.client}}</td>
                          <td>{{row.service}}</td>
                          <td>{{row.loaded_date}}</td>
                          <td title="{{ row.comment }}">.-.-.-.</td>
                          <td>{{row.period}}</td>
                          <td>{{row.reciever}}</td>
                          <td>{{row.get_status_display }}</td>
                          <td>
                            <a href="{% url 'upload' %}?client_id={{ row.client.id }}" class="btn btn-primary">
                              <i class="fas fa-upload"></i>
                            </a>
                          </td>
                          <td>
                            <a href="{% url 'archive-service' row.id %}" class="btn btn-secondary">
                              <i class="fas fa-archive"></i>
                            </a>
                            {% if perms.base.change_upload %}
                            <a href="{% url 'edit-upload' row.id %}" class="btn btn-primary">
                              <i class="fas fa-edit"></i>
                            </a>
                            {% endif %}
                          </td>

                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                
          </div>
        </div>
      </div>
     
    </div>
    {% else %}
    <div class="row">
      <div class="col-sm-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><div class="float-left">Barcha tugatilmagan yuklamalar</div><div class="float-right">
                <button class="btn btn-sm btn-success" id="export_button">Excel</button>
            </div></div>
            <div class="table-responsive">
                <table class="table table-striped ytt data-table table-bordered" id="monitoring">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Mijoz</th>
                      <th>Holat</th>
                      <th>Xizmat turi</th>
                      <th>Kiritilgan sana</th>
                      <th>Izoh</th>
                      <th>Muddat</th>
                      <th>Qabul qiluvchi</th>
                      <th>Yuklovchi</th>
                      <th>Xizmat yuklash<th>
                      <th></th>
                
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in result %}
                      {% if row.archived %}
                      <tr class="bg-secondary" class="color: grey;">
                      {% elif row.remaining_days <= 1 and row.status != '10' %}
                      <tr class="bg-animation">
                      {% elif row.status == '0' %}
                      <tr class="bg-warning">
                      {% elif row.status == '5' %}
                      <tr class="bg-danger text-white">
                      {% elif row.status == '10' %}
                      <tr class="bg-success">
                      {% endif %}
                        <td>{{forloop.counter}}</td>
                        <td style="display: flex; align-items: center ;">
                          {% if row.client.picture %}
                          <div class="profile-pics">
                            <img style="width: 100%; height: 100%; border-radius: 0; transition: all 1s;" src="/app{{row.client.picture.url}}" alt="">
                          </div>
                          <div class="img-text" style="line-height: 15px; padding-left: 15px;"><a class="text-dark" href="{% url 'client' row.client.id %}">{{ row.client.name|wordwrap:"20"|linebreaksbr }}</a> </div>
                         
                          {% else %}
    
                          <div class="profile-pics">
                            <img style="width: 100%; height: 100%; border-radius: 0; transition: all 1s;" src="{% static 'profile/profile-default.jpg' %}" alt="">
                          </div>
                          <div class="img-text" style="line-height: 15px; padding-left: 15px;"><a class="text-dark" href="{% url 'client' row.client.id %}">{{ row.client.name|wordwrap:"20"|linebreaksbr }}</a></div>
    
                          {% endif %}
                        </td>
                        <td>{{row.get_status_display}}</td>
                        <td>
                          {{row.service|wordwrap:"20"|linebreaksbr}}
                        </td>
                        <td>
                          {{row.loaded_date}}
                        </td>
                        <td title="{{ row.comment }}">.-.-.-.</td>
                        <td>{{row.period}}</td>
                        <td>
                          {{row.reciever}}
                        </td>
                        <td>
                          {{row.sender}}
                        </td>
                        <td>
                          <a href="{% url 'upload' %}?client_id={{ row.client.id }}" class="btn btn-primary">
                            <i class="fas fa-upload"></i>
                          </a>
                        </td>
                        <td>
                          {% if not row.archived %}
                            {% if row.status == '0' %}
                              <a href="{% url 'confirm-service' row.id %}" class="btn btn-success btn-sm">
                                <i class="fa fa-check"></i>
                              </a>
                              <a href="{% url 'cancel-service' row.id %}" class="btn btn-danger btn-sm">
                                <i class="fa fa-close"></i>
                              </a>
                            {% elif row.status == '5' and row.reciever.user == request.user %}
                              <a href="{% url 'confirm-service' row.id %}" class="btn btn-success btn-sm">
                                <i class="fa fa-check"></i>
                              </a>  
                            {% endif %}

                            
                              <a href="{% url 'archive-service' row.id %}" class="btn btn-secondary btn-sm">
                                <i class="fas fa-archive"></i>
                              </a>
                          {% else %}
                              <a href="{% url 'archive-service' row.id %}" class="btn btn-primary btn-sm">
                                <i class="fas fa-recycle"></i>
                              </a>
                          {% endif %}
                          {% if perms.base.change_upload %}
                          <a href="{% url 'edit-upload' row.id %}" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i>
                          </a>
                          {% endif %}
                        </td>
                      </tr>
                    
                      <!-- <tr class="bg-danger text-white">
                        <td>{{forloop.counter}}</td>
                        <td style="display: flex; align-items: center ;">
                          {% if row.client.picture %}
                          <div class="profile-pics">
                            <img style="width: 100%; height: 100%; border-radius: 0; transition: all 1s;" src="/app{{row.client.picture.url}}" alt="">
                          </div>
                          <div class="img-text" style="line-height: 15px; padding-left: 15px;"><a class="text-white" href="{% url 'client' row.client.id %}">{{ row.client.name|wordwrap:"20"|linebreaksbr }}</a> </div>
                        
                          {% else %}
    
                          <div class="profile-pics">
                            <img style="width: 100%; height: 100%; border-radius: 0; transition: all 1s;" src="{% static 'profile/profile-default.jpg' %}" alt="">
                          </div>
                          <div class="img-text" style="line-height: 15px; padding-left: 15px;"><a class="text-white" href="{% url 'client' row.client.id %}">{{ row.client.name|wordwrap:"20"|linebreaksbr }}</a></div>
    
                          {% endif %}
                        </td>
                        <td>{{row.get_status_display}}</td>
                        <td>
                          {{row.service|wordwrap:"20"|linebreaksbr}}
                        </td>
                        <td>
                          {{row.loaded_date}}
                        </td>
                        <td title="{{ row.comment }}">.-.-.-.</td>
                        <td>{{row.period}}</td>
                        <td>
                          {{row.reciever}}
                        </td>
    
                        <td>
                          {{row.sender}}
                        </td>
                        <td>
                          {% if row.status == '0' %}
                            <a href="{% url 'confirm-service' row.id %}" class="btn btn-success btn-sm">
                              <i class="fa fa-check"></i>
                            </a>
                            <a href="{% url 'cancel-service' row.id %}" class="btn btn-danger btn-sm">
                              <i class="fa fa-close"></i>
                            </a>
                          {% elif row.status == '5' and row.reciever.user == request.user %}
                            <a href="{% url 'confirm-service' row.id %}" class="btn btn-success btn-sm">
                              <i class="fa fa-check"></i>
                            </a>  
                          {% endif %}
                        </td>
                      </tr> -->

                    {% endfor %}
                  </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
 
</div>

<script>
    function html_table_to_excel(type)
    {
        var data = document.getElementById('monitoring');

        var file = XLSX.utils.table_to_book(data, {sheet: "sheet1"});

        XLSX.write(file, { bookType: type, bookSST: true, type: 'base64' });

        XLSX.writeFile(file, 'file.' + type);
    }

    const export_button = document.getElementById('export_button');

    export_button.addEventListener('click', () =>  {
        html_table_to_excel('xlsx');
    });
</script>
{% endblock content %}


{% block script %}
<!-- <script src="{% static 'assets/js/backend-bundle.min.js' %}"></script> -->
<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/customizer.js' %}"></script>

<script src="{% static 'assets/js/sidebar.js' %}"></script>

<!-- Flextree Javascript-->
<script src="{% static 'assets/js/flex-tree.min.js' %}"></script>
<script src="{% static 'assets/js/tree.js"></script>

<!-- Table Treeview JavaScript -->
<script src="{% static 'assets/js/table-treeview.js' %}"></script>

<!-- SweetAlert JavaScript -->
<script src="{% static 'assets/js/sweetalert.js' %}"></script>

<!-- Vectoe Map JavaScript -->
<script src="{% static 'assets/js/vector-map-custom.js' %}"></script>

<!-- Chart Custom JavaScript -->
<!-- <script src="{% static 'assets/js/chart-custom.js' %}"></script> -->
<script src="{% static 'assets/js/charts/01.js' %}"></script>
<script src="{% static 'assets/js/charts/02.js' %}"></script>

<!-- slider JavaScript -->
<script src="{% static 'assets/js/slider.js' %}"></script>

<!-- Emoji picker -->
<script src="{% static 'assets/vendor/emoji-picker-element/index.js' %}" type="module"></script>


<!-- app JavaScript -->
<script src="{% static 'assets/js/app.js' %}"></script>

<script>
  // JavaScript to animate background color change
  function animateBackground(element) {
      setInterval(function() {
        var currentColor = element.style.backgroundColor;
        var nextColor = currentColor === 'rgba(246, 6, 6, 0.298)' ? '#fff' : 'rgba(246, 6, 6, 0.298)';
        element.style.backgroundColor = nextColor;
      }, 1200); // 1000ms = 1 second
    }


  // Get elements by class and apply animation
  window.addEventListener('load', function() {
    var rows = document.getElementsByClassName('bg-animation');
    for (var i = 0; i < rows.length; i++) {
      animateBackground(rows[i]);
    }
  });
</script>

{% endblock %}