{% extends 'main.html' %}
{% load static %}

{% block link %}
<style>
    .countdown {
        font-family: 'Arial', sans-serif;
        font-size: 1.4em;
        color: #333;
        font-weight: bold;
        /* text-align: center; */
        /* margin-top: 20%; */
    }
    .time-box {
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
        background: #f3f3f3;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .label {
        display: block;
        font-size: 0.5em;
        color: #666;
    }
</style>
{% endblock %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">XXI ASR BUXGALTERIYA</h3>
                  <h6 class="font-weight-normal mb-0">Buyruqlar</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    {% if perms.base.add_decree %}
                    <a href="{% url 'decree_create' %}">
                      <button class="btn btn-sm btn-light bg-primary" type="button">
                        <i class="ti ti-plus font-weight-bold text-white"></i>
                      </button>
                    </a>
                    {% endif %}
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>

        {% if perms.base.view_decree %}
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Topshirilgan buyruqlar</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sana</th>
                                        <th>Raqami</th>
                                        <th>Qaror mazmuni</th>
                                        <th>Topshiruvchi</th>
                                        <th>Qabul qiluvchi</th>
                                        <th>Muddat</th>
                                        <th>Holat</th>
                                        <th>Ilova</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for decree in submitted_decrees %}
                                    <tr>
                                        <td>
                                            <div id="countdown-s-{{ decree.id }}" class="countdown">
                                                <div class="time-box">
                                                    <span id="days-s-{{ decree.id }}"></span>
                                                    <span class="label">Kun</span>
                                                </div>
                                                <div class="time-box">
                                                    <span id="hours-s-{{ decree.id }}"></span>
                                                    <span class="label">Soat</span>
                                                </div>
                                                <div class="time-box">
                                                    <span id="minutes-s-{{ decree.id }}"></span>
                                                    <span class="label">Daqiqa</span>
                                                </div>
                                                <div class="time-box">
                                                    <span id="seconds-s-{{ decree.id }}"></span>
                                                    <span class="label">Soniya</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ decree.pk }}</td>
                                        <td>
                                            <a href="{% url 'decree_download_substance' decree.pk %}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                        <td>{{ decree.submitter }}</td>
                                        <td>{{ decree.receiver }}</td>
                                        <td>{{ decree.date|date:"d.m.Y" }}</td>
                                        <td>{{ decree.get_status_display }}</td>
                                        <td>
                                            {% if decree.file %}
                                            <a href="/{{ decree.file }}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-download"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'decree_edit' decree.pk %}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            {% if decree.status == 'checking' %}
                                            <a href="{% url 'decree_check' decree.pk 'done' %}" class="btn btn-success btn-sm">
                                                <i class="fas fa-check"></i>
                                            </a>
                                            <a href="{% url 'decree_check' decree.pk 'received' %}" class="btn btn-danger btn-sm">
                                                <i class="fas fa-times"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Kelib tushgan buyruqlar</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Sana</th>
                                        <th>Raqami</th>
                                        <th>Qaror mazmuni</th>
                                        <th>Topshiruvchi</th>
                                        <th>Muddat</th>
                                        <th>Holat</th>
                                        <th>Ilova</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for decree in received_decrees %}
                                    <tr>
                                        <td>
    
                                            <div id="countdown-{{ decree.id }}" class="countdown">
                                                <div class="time-box">
                                                    <span id="days-{{ decree.id }}"></span>
                                                    <span class="label">Kun</span>
                                                </div>
                                                <div class="time-box">
                                                    <span id="hours-{{ decree.id }}"></span>
                                                    <span class="label">Soat</span>
                                                </div>
                                                <div class="time-box">
                                                    <span id="minutes-{{ decree.id }}"></span>
                                                    <span class="label">Daqiqa</span>
                                                </div>
                                                <div class="time-box">
                                                    <span id="seconds-{{ decree.id }}"></span>
                                                    <span class="label">Soniya</span>
                                                </div>
                                            </div>
    
                                        </td>
                                        <td>{{ decree.pk }}</td>
                                        <td>
                                            <a href="{% url 'decree_download_substance' decree.pk %}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                        <td>{{ decree.submitter }}</td>
                                        <td>{{ decree.date|date:"d.m.Y" }}</td>
                                        <td>{{ decree.get_status_display }}</td>
                                        <td>
                                            {% if decree.file %}
                                            <a href="/{{ decree.file }}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-download"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if decree.status == 'submitted' %}
                                            <a href="{% url 'decree_receive' decree.pk %}" class="btn btn-primary btn-sm">
                                                <i class="fas fa-check"></i>
                                            </a>
                                            {% elif decree.status == 'received' %}
                                            <a href="{% url 'decree_complete' decree.pk %}" class="btn btn-success btn-sm">
                                                <i class="fas fa-check-double"></i>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock %}
                
{% block script %}
<script>
    {% for decree in received_decrees %}
    // Set the due date here
    
function updateCountdown{{ decree.id }}() {
    // const dueDate = new Date("2024-12-31T23:59:59").getTime();
    const dueDate = new Date("{{ decree.due_date|date:'Y-m-d' }}T{{ decree.due_date|date:'H:i:s' }}").getTime();
    const now = new Date().getTime();
    const distance = dueDate - now;

    // Calculate days, hours, minutes, and seconds
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the countdown elements
    document.getElementById('days-{{ decree.id }}').innerHTML = days;
    document.getElementById('hours-{{ decree.id }}').innerHTML = hours;
    document.getElementById('minutes-{{ decree.id }}').innerHTML = minutes;
    document.getElementById('seconds-{{ decree.id }}').innerHTML = seconds;

    // If the countdown is over, display some text
    if (distance < 0) {
        clearInterval(interval);
        document.getElementById('countdown-{{ decree.id }}').innerHTML = "EXPIRED";
    }
}

// Update the countdown every second
const interval_{{ decree.id }} = setInterval(updateCountdown{{ decree.id }}, 1000);
{% endfor %}

{% for decree in submitted_decrees %}
    // Set the due date here
    
function updateCountdown_s{{ decree.id }}() {
    // const dueDate = new Date("2024-12-31T23:59:59").getTime();
    const dueDate = new Date("{{ decree.due_date|date:'Y-m-d' }}T{{ decree.due_date|date:'H:i:s' }}").getTime();
    const now = new Date().getTime();
    const distance = dueDate - now;

    // Calculate days, hours, minutes, and seconds
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the countdown elements
    document.getElementById('days-s-{{ decree.id }}').innerHTML = days;
    document.getElementById('hours-s-{{ decree.id }}').innerHTML = hours;
    document.getElementById('minutes-s-{{ decree.id }}').innerHTML = minutes;
    document.getElementById('seconds-s-{{ decree.id }}').innerHTML = seconds;

    // If the countdown is over, display some text
    if (distance < 0) {
        clearInterval(interval);
        document.getElementById('countdown-s-{{ decree.id }}').innerHTML = "EXPIRED";
    }
}

// Update the countdown every second
const interval_s_{{ decree.id }} = setInterval(updateCountdown_s{{ decree.id }}, 1000);
{% endfor %}
</script>
{% endblock %}